<?xml version="1.0" encoding="utf-8"?>
<Configuracao>
  <DefaultValues>
    <IgrejaTitulo>Assembleia de Deus do Rio de Janeiro</IgrejaTitulo>
    <DataPadrao>06/04/2020</DataPadrao>
    <CongregacaoPadrao>1</CongregacaoPadrao>
    <CongregacaoDescricao>Sede Geral</CongregacaoDescricao>
    <ContaPadrao>1</ContaPadrao>
    <ContaDescricao>Caixa Geral SEDE</ContaDescricao>
    <SetorPadrao>1</SetorPadrao>
    <SetorDescricao>Igreja Sede</SetorDescricao>
    <DataBloqueada>
    </DataBloqueada>
    <CidadePadrao>Rio de Janiero</CidadePadrao>
    <UFPadrao>RJ</UFPadrao>
  </DefaultValues>
  <Colors>
    <TopTitleColor>
    </TopTitleColor>
    <PrincipalBackColor>
    </PrincipalBackColor>
    <PrincipalBackImage>
    </PrincipalBackImage>
    <PrincipalBackgroundImageLayout>
    </PrincipalBackgroundImageLayout>
  </Colors>
  <ArquivoLogo>
    <ArquivoLogoMono>
    </ArquivoLogoMono>
    <ArquivoLogoColor>
    </ArquivoLogoColor>
  </ArquivoLogo>
  <ServidorDados>
    <StringConexao>
    </StringConexao>
    <ServidorLocal>
    </ServidorLocal>
  </ServidorDados>
</Configuracao>