<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CamadaDAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CamadaDAL.Properties.Settings>
            <setting name="ConexaoStringFile" serializeAs="String">
                <value>E:\Desktop\ConfigDB.xml</value>
            </setting>
            <setting name="ConexaoStringName" serializeAs="String">
                <value>Teste</value>
            </setting>
        </CamadaDAL.Properties.Settings>
    </userSettings>
</configuration>